:root {
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-purple-100: #F8EEFF;
  --color-purple-600: #8B6990;
  --color-purple-950: #301534;
  --color-violet-600: #AD28EB;
  --font-family-base: "Work Sans", sans-serif;
}

@font-face {
  font-family: "Work Sans";
  src: url("../assets/fonts/static/WorkSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans";
  src: url("../assets/fonts/static/WorkSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans";
  src: url("../assets/fonts/static/WorkSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-base);
  font-size: clamp(0.875rem, 0.815rem + 0.254vw, 0.938rem);
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-purple-600);
  background-color: var(--color-purple-100);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-inline: 1.5rem;
  background-image: url("../assets/images/background-pattern-mobile.svg");
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
}

ul {
  list-style: none;
}

.faq__summary {
  list-style: none;
}

.faq__summary::-webkit-details-marker {
  display: none;
}

.faq {
  display: flex;
  flex-direction: column;
  gap: clamp(1.5rem, 1.023rem + 2.036vw, 2rem);
  max-width: 37.5rem;
  padding: clamp(1.5rem, 0.546rem + 4.071vw, 2.5rem);
  background-color: var(--color-white);
  border-radius: 8px;
}

.faq__logo {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.faq__logo-icon {
  width: clamp(1.313rem, 0.478rem + 3.562vw, 2.188rem);
  height: clamp(1.313rem, 0.478rem + 3.562vw, 2.188rem);
}

.faq__logo-title {
  font-size: clamp(2rem, 0.569rem + 6.107vw, 3.5rem);
  font-weight: 700;
  color: var(--color-purple-950);
}

.faq__accordion {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.faq__card:not(:last-child) {
  border-bottom: 1px solid var(--color-purple-100);
}

.faq__details {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.faq__summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.faq__summary:focus-visible {
  outline: 2px dashed var(--color-violet-600);
  outline-offset: 4px;
  transition-duration: 0s;
}

.faq__question {
  font-size: clamp(1rem, 0.881rem + 0.509vw, 1.125rem);
  font-weight: 600;
  color: var(--color-purple-950);
  transition: color 0.2s;
}

.faq__icon {
  position: relative;
  display: block;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 100%;
  background-color: var(--color-violet-600);
  flex-shrink: 0;
  transition: background-color 0.3s;
}

.faq__icon::before,
.faq__icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 1rem;
  height: 0.125rem;
  border-radius: 12px;
  background-color: var(--color-white);
}

.faq__icon::after {
  rotate: 90deg;
  transition: rotate 0.3s;
}

.faq__details[open] .faq__icon {
  background-color: var(--color-purple-950);
}

.faq__details[open] .faq__icon::after {
  rotate: 0deg;
}

/*ANIMATION*/

.faq__answer-wrapper {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0.4, 0, 0.2, 1),
  opacity 0.4s ease 0.05s,
  padding 0.4s ease;
  padding: 0 0 0 0;
}

.faq__details.is-open .faq__answer-wrapper {
  max-height: 500px;
  opacity: 1;
  padding: 0 0 1.5rem 0;
}

.faq__details.is-open .faq__answer {
  animation: fadeSlideIn 0.4s ease forwards;
  opacity: 0;
}

.faq__details:not(.is-open) .faq__answer {
  animation: none;
  opacity: 0;
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 768px) {
  main {
    background-image: url("../assets/images/background-pattern-desktop.svg");
  }

  .faq {
    border-radius: 16px;
  }

  .faq__logo-title {
    line-height: 1.18;
  }

  .faq__question {
    line-height: 1.17;
  }
}

@media (hover: hover) {
  .faq__summary:hover .faq__question {
    color: var(--color-violet-600);
  }
}